// default white
$white: #fff;

// default black
$black: #000;

// element green
$elemGreen: #05a573;

// main background
$background: #1533AD;

// main background
$background-2: #071C71; 

// main background hover
$whiteHover: rgb(243, 241, 241);

// sidebar background
$backgroundSidebar: linear-gradient(90deg, rgba(81,111,165,1) 0%, rgba(48,141,146,1) 100%);

// sidebar background hover
$backgroundSidebarHover: linear-gradient(90deg, rgb(57, 79, 118) 0%, rgb(29, 87, 90) 100%);

// sidebar brand background
$backgroundBrand:linear-gradient(90deg, rgb(57, 79, 118) 0%, rgb(29, 87, 90) 100%);

// text grey
$textGrey: rgb(107, 114, 128);

// text light grey
$textLightGrey: #9CA3AF;

// border grey
$border: #b3f2db;
