@import "colors";
@import "keyframes";


/* zeroing */
* {padding: 0; margin: 0; border: 0;}
*, *:before, *:after {-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
:focus, :active {outline: none;}
a:focus, a:active {outline: none;}
nav, footer, header, aside {display: block;}
html, body {height: 100%; width: 100%; font-size: 100%; line-height: 1; font-size: 14px; -ms-text-size-adjust: 100%;}
input, button, textarea {font-family: inherit;}
input::-ms-clear {display: none;}
button {cursor: pointer;}
button::-moz-focus-inner {padding: 0; border: 0;}
a, a:visited {text-decoration: none; padding: 0; margin: 0;}
a:hover {text-decoration: none;}
ul li {list-style: none;}
img {vertical-align: top;}
h1, h2, h3, h4, h5, h6 {font-size: inherit; font-weight: inherit;}
/* end zeroing */


/* --- Default styles */
@font-face {
    font-family: 'TTHoves-Black';
    src: local('TTHoves-Black'), url('../../fonts/TTHoves/TTHoves-Black.ttf') format('truetype');
}
@font-face {
    font-family: 'TTHoves-BlackItalic';
    src: local('TTHoves-BlackItalic'), url('../../fonts/TTHoves/TTHoves-BlackItalic.ttf') format('truetype');
}
@font-face {
    font-family: 'TTHoves-Bold';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 50px;
    src: local('TTHoves-Bold'), url('../../fonts/TTHoves/TTHoves-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'TTHoves-BoldItalic';
    font-style: italic;
    font-weight: bold;
    font-size: 18px;
    line-height: 50px;
    src: local('TTHoves-BoldItalic'), url('../../fonts/TTHoves/TTHoves-BoldItalic.ttf') format('truetype');
}
@font-face {
    font-family: 'TTHoves-DemiBold';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    src: local('TTHoves-DemiBold'), url('../../fonts/TTHoves/TTHoves-DemiBold.ttf') format('truetype');
}
@font-face {
    font-family: 'TTHoves-DemiBoldItalic';
    font-style: italic;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    src: local('TTHoves-DemiBoldItalic'), url('../../fonts/TTHoves/TTHoves-DemiBoldItalic.ttf') format('truetype');
}
@font-face {
    font-family: 'TTHoves-ExtraBold';
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
    src: local('TTHoves-ExtraBold'), url('../../fonts/TTHoves/TTHoves-ExtraBold.ttf') format('truetype');
}
@font-face {
    font-family: 'TTHoves-ExtraBoldItalic';
    font-style: italic;
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
    src: local('TTHoves-ExtraBoldItalic'), url('../../fonts/TTHoves/TTHoves-ExtraBoldItalic.ttf') format('truetype');
}
@font-face {
    font-family: 'TTHoves-ExtraLight';
    src: local('TTHoves-ExtraLight'), url('../../fonts/TTHoves/TTHoves-ExtraLight.ttf') format('truetype');
}
@font-face {
    font-family: 'TTHoves-ExtraLightItalic';
    src: local('TTHoves-ExtraLightItalic'), url('../../fonts/TTHoves/TTHoves-ExtraLightItalic.ttf') format('truetype');
}
@font-face {
    font-family: 'TTHoves-Hairline';
    src: local('TTHoves-Hairline'), url('../../fonts/TTHoves/TTHoves-Hairline.ttf') format('truetype');
}
@font-face {
    font-family: 'TTHoves-HairlineItalic';
    src: local('TTHoves-HairlineItalic'), url('../../fonts/TTHoves/TTHoves-HairlineItalic.ttf') format('truetype');
}
@font-face {
    font-family: 'TTHoves-Italic';
    src: local('TTHoves-Italic'), url('../../fonts/TTHoves/TTHoves-Italic.ttf') format('truetype');
}
@font-face {
    font-family: 'TTHoves-Light';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    src: local('TTHoves-Light'), url('../../fonts/TTHoves/TTHoves-Light.ttf') format('truetype');
}
@font-face {
    font-family: 'TTHoves-LightItalic';
    font-style: italic;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    src: local('TTHoves-LightItalic'), url('../../fonts/TTHoves/TTHoves-LightItalic.ttf') format('truetype');
}
@font-face {
    font-family: 'TTHoves-Medium';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    src: local('TTHoves-Medium'), url('../../fonts/TTHoves/TTHoves-Medium.ttf') format('truetype');
}
@font-face {
    font-family: 'TTHoves-MediumItalic';
    font-style: italic;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    src: local('TTHoves-MediumItalic'), url('../../fonts/TTHoves/TTHoves-MediumItalic.ttf') format('truetype');
}
@font-face {
    font-family: 'TTHoves-Regular';
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 20px;
    src: local('TTHoves-Regular'), url('../../fonts/TTHoves/TTHoves-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'TTHoves-Thin';
    src: local('TTHoves-Thin'), url('../../fonts/TTHoves/TTHoves-Thin.ttf') format('truetype');
}
@font-face {
    font-family: 'TTHoves-ThinItalic';
    src: local('TTHoves-ThinItalic'), url('../../fonts/TTHoves/TTHoves-ThinItalic.ttf') format('truetype');
}

* {
    font-family: 'TTHoves-Regular', sans-serif;
}

a {
    text-decoration: none;
    color: black;
   &:hover {
        color: black;
   }
}

@import "media";