@import "default";

.app-wrapper {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    background: rgb(34, 34, 34);
    h1 {
        font-size: 40px;
        color: rgb(130, 215, 247);
    }
}

.todo-item {
    display: inline-flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    input {
        cursor: pointer;
    }
    span {
        font-size: medium;
    }
    input:checked + span {
        text-decoration: line-through;
    }
    .delete {
        display: flex;
        position: relative;
        color: red;
        font-size: 30px;
        cursor: pointer;
    }
}